.DS_Store
*.pyc
iadpython/__pycache__/*
iadpython/ad-simple.nb
docs/.ipynb_checkpoints/
iadpython.egg-info/*
dist/*
docs/_build/*
docs/ad-classes.graffle
docs/doi.org/
docs/sphere-T.graffle
docs/sphere.graffle
docs/api/
iadpython/.ipynb_checkpoints/
iadp