.DS_Store
*.pyc
.cache/
.jupyterlite.doit.db
.lite_src/
.venv/

_site/

dist/

docs/.ipynb_checkpoints/
docs/_build/
docs/api/
docs/doi.org/
docs/*.graffle

iadpython/__pycache__/
iadpython.egg-info/
iadpython/.ipynb_checkpoints/
iadp

tests/.ipynb_checkpoints/