include CHANGELOG.rst
include CITATION.cff
include LICENSE.txt
include README.rst
include requirements.txt
include requirements-dev.txt

# Include any package data that lives under your package
recursive-include iadpython/data *.csv

# EXCLUDE tests from the sdist
prune tests
#prune tests_iadc

exclude todo.txt
exclude .pre-commit-config.yaml
exclude .testignore