---
name: test

on:    # yamllint disable-line rule:truthy
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:  # allow manual triggering

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and test

    strategy:
      matrix:
        python-version: ['3.8', '3.11']

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package and dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .  # current package in editable mode

      - name: Tests
        run: |
          pytest tests/test_boundary.py
          pytest tests/test_combo.py
          pytest tests/test_fresnel.py
          pytest tests/test_grid.py
          pytest tests/test_iad.py
          pytest tests/test_layer.py
          pytest tests/test_layers.py
          pytest tests/test_nist.py
          pytest tests/test_quadrature.py
          pytest tests/test_redistribution.py
          pytest tests/test_rxt.py
          pytest tests/test_sphere.py
          pytest tests/test_start.py
          pytest tests/test_ur1_uru.py
