# yamllint disable rule:truthy
---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.12"]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            pyproject.toml

      - name: Install package (+tests)
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install -e .
          python -m pip install pytest

      - name: Run pytest
        run: |
          python -m pytest tests/test_boundary.py
          python -m pytest tests/test_combo.py
          python -m pytest tests/test_fresnel.py
          python -m pytest tests/test_grid.py
          python -m pytest tests/test_iad.py
          python -m pytest tests/test_layer.py
          python -m pytest tests/test_layers.py
          python -m pytest tests/test_nist.py
          python -m pytest tests/test_quadrature.py
          python -m pytest tests/test_redistribution.py
          python -m pytest tests/test_rxt.py
          python -m pytest tests/test_sphere.py
          python -m pytest tests/test_start.py
          python -m pytest tests/test_ur1_uru.py
